:root {
    --color-primary: #FF577F;
    --color-primary-disabled: #59323F;
    --color-grey0: #f8f9fa;
    --color-grey1: #868e96;
    --color-grey2: #343b41;
    --color-grey3: #212529;
    --color-grey4: #121214;
    --color-white: #fff;
    --font-primary: 'Inter', sans-serif;
};

body {
    background-color: var(--color-grey4);
    max-width: 100vw; 
    min-height: 100vh;
};