.title1 {
    color: var(--color-grey0);
    font-family: var(--font-primary);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.label {
    color: var(--color-grey0);
    font-family: Inter;
    font-size: .7614rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0rem;
}

.errorZod {
    color: #e83f5b;
    font-family: var(--font-primary);
    font-size: .7614rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0rem;
}

.titleModal {
    color: var(--color-grey0);
    font-family: var(--font-primary);
    font-size: .875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

